// Pie de página
.footer {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 2em;

    h3 {
        color: $colorH3;
        margin-bottom: 1.5rem;
    }

    &-social {
        display: inline-block;
    }

    img {
        height: 48px;
        filter: brightness(0.95);
        transition: all 1s;
    }

    img:hover {
        filter: brightness(1.15);
        transform: scale(1.1);
    }

    .credits {
        font-size: 1.1rem;

        .digitaros {
            color: rgb(0, 240, 0);
        }
    }
}