@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.navbar {
    background: linear-gradient(to bottom, #c50000, #990000);

    a {
        color: #FFFFFF !important;
        transition: transform 2s;
        font-size: 1.43rem;

        @include BkL {
            &:hover {
                color: #FFFFFF !important;
                transform: scale(1.08, 1.2);
            }
        }
    }

    .navbar-brand {
        font-family: 'Sriracha', cursive;
    }

    .navbar-toggler {
        filter: invert(1);
    }
}
