$bg: linear-gradient(to bottom, #000, rgb(25, 25, 25));

$colorTextNav: #FFF;
$shadowTextNav: -1px 1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(0, 0, 0, 0.8);
$sizeTextNav: 2.3rem;

$colorH1: #FFF;
$colorH2: #FFF;
$colorP: #FFF;